@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #10367d;
  --color-third: #ebebeb;
  --spacing-72: 18rem;
  --font-display: "Poppins", sans-serif;
  --brand-animationX: slideX 3s ease-in-out infinite;

  @keyframes slideX {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(150px);
    }
  }
}
button {
  @apply cursor-pointer hover:underline underline-offset-4 shadow-md;
}
.sec {
  @apply px-8 sm:px-20;
}
.link {
  @apply tracking-wider cursor-pointer hover:underline transition duration-300 underline-offset-4 decoration-primary;
}
option {
  @apply bg-gray-600 text-white font-medium tracking-wider;
}
.form {
  @apply flex flex-col gap-2;
}
.form label {
  @apply text-lg tracking-wider;
}
.form input {
  @apply bg-third w-[400px] p-1 px-2;
}
.form textarea {
  @apply bg-third mb-5 w-[400px] p-1 px-2;
}
.footer_con {
  @apply flex space-x-2;
}
